.actor {
  padding: 20px;

  &__content {
    display: grid;
    place-items: center;

    h1 {
      font-size: 2rem;
      line-height: 1.75rem;
      color: #fff;
      font-weight: 600;
    }

    img {
      margin: 10px 0;
    }

    p {
      width: 700px;
      text-align: center;
      font-size: 1.3rem;
      line-height: 1.75rem;
      color: #fff;
      text-shadow: 1px 1px rgba(0, 0, 0, .4);
    }
  }
}

.spinner {
  width: 30px !important;
  height: 30px !important;
  margin: 0 auto;
}
