<div class="slider">
  <div>
    <div (click)="goToPrevious()" class="leftArrow">❰</div>
    <div (click)="goToNext()" class="rightArrow">❱</div>
  </div>
  <div
    class="slide"
    [ngStyle]="{ 'background-image': getCurrentSlideUrl() }"
  >
    <div class="slider__wrapper">
      <h1>{{getCurrentSlideTitle()}}</h1>
      <p>{{getCurrentSlideSubtitle()}}</p>
      <button (click)="onClick()" mat-raised-button color="primary">Watch</button>
    </div>
  </div>
  <div class="dotsContainer">
    <div
      *ngFor="let slide of slides; let slideIndex = index"
      class="dot"
      (click)="goToSlide(slideIndex)"
      [ngClass]="getDotClass(slideIndex)"
    >

    </div>
  </div>
</div>
