<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  <h1>Profile</h1>
  <div class="form__inputs">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input formControlName="email" type="email" matInput placeholder="email">
      <mat-error *ngIf="form.get('email')?.hasError('email')">Please enter a valid Email</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input formControlName="password" type="password" matInput placeholder="password">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>UserName</mat-label>
      <input formControlName="userName" type="text" matInput placeholder="user name">
    </mat-form-field>
  </div>
  <div class="photo">
    <h3>Photo</h3>
    <input type="file" accept="image/*" (change)="uploadPhoto($event)" formControlName="avatar" />
    <img *ngIf="previewImageUrl" [src]="previewImageUrl" alt="preload image"/>
  </div>
  <button type="submit" class="form__button" mat-raised-button color="primary">Update</button>
</form>
