<section class="discovery">
  <h1>Discovery</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias asperiores assumenda culpa debitis enim
    eum, expedita incidunt omnis porro provident quaerat, quia quos rem sed suscipit unde ut voluptatem!</p>

  <mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner>
  <div class="discovery__content">
      <a *ngFor="let genre of genres" [routerLink]="['/genre',genre.slug]" >
        <div class="article-card">
          <div class="content">
            <p class="title">{{genre.title}}</p>
          </div>
          <img src="https://online-cinema-api.onrender.com{{genre.image}}" alt="article-cover" />
        </div>
      </a>
  </div>
</section>
